<!DOCTYPE html5>
<html>
<head> 
    <link rel = "stylesheet" type="text/css" href = "/static/style.css"/>
</head>
<body>

    <div class="bg-container">
        <h1 class="card-heading">
            QR MATE
        </h1>
        <p class="down-paragraph">
            - your ultimate QR code detector
        </p>
        <marquee class = "scroll-heading" scrollamount = "12">
            To witness the live preview, Scan here to make things simpler for you.....
        </marquee>
        
            <div class = "card-container">
            <h1 class="heading">
                Scan your QR code
            </h1>
            <p class="paragraph">
                This is a simple and clear QR code reader app
            </p>
            <button class = "card-button" onclick="location.href='/process_qr'">SCAN</button>
            <a href = "{url}" target = "_blank" >{{URL}}</a> 
    </div>
    </div>
</body>
</html>
