@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.card-heading {
    font-family: "Georgia";
    font-size: 50px;
    font-weight: bold;
    color: #eb5276;
    text-align: center;
    text-shadow: 2px 2px 2px #777;
}

.bg-container {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url("https://www.shutterstock.com/image-photo/qr-code-technology-mobile-smartphone-260nw-2117474195.jpg");
    background : cover;
    margin:10px;
}

.card-container {
    background-color: #ffffff;
    border: rgb(21, 177, 229) solid 2px;
    height: 290px;
    width: 270px;
    padding: 30px;
    margin-left: 1000px;
    margin-top: 50px;
    border-radius: 40px;
    text-align: center;
}
.scroll-heading{
    font-family:"Roboto";
    font-size:20px;
    margin:30px;
}
.heading {
    font-family: "bree Serif";
    font-size: 30px;
    color: #6969d6;
    text-align: center;
    padding: 0px;
}

.paragraph {
    font-family: "bree Serif";
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.card-button {
    background-color:rgb(74, 142, 219);
    font-family: "Roboto";
    font-size: 15px;
    color: #ffffff;
    width: 250px;
    border-radius: 5px;
    border-width: 0px;
    text-align: center;
    margin: 30px 15px;
    padding: 10px;
}
.card-button:hover{
    background-color: rgb(189, 188, 188);
    color:black;
    border 2px solid #008CBA;
}
.down-paragraph {
    font-family: "Times New Roman italic";
    font-size: 24px;
    color: #2808f3;
    text-align: center;
    margin: 10px;
    padding-left: 400px;
}
